services/
!/services/GlobalSign.crt

build/
dist/
.cache/

data*
data/
*.sock
*.egg-info/
*/__pycache__/
.git/
*/node_modules/
*/.npm/
*/build/

.dockerignore
Dockerfile
*.yml

__pycache__
*.pyc
*.pyo
*.pyd
.cache
*.log
.git

*/.venv
*/.cache