#!/bin/bash
export LANG=en_US.utf8
export LC_ALL=en_US.utf8

export DOCKER_BUILDKIT=1
export COMPOSE_DOCKER_CLI_BUILD=1

# Load secrets tokens (gitlab, jenkins) used to start the backend
if [[ -r $HOME/.tokens ]]; then
  source $HOME/.tokens
fi

# Enable building with SSH agent forwarding
export DOCKER_BUILDKIT=1

# Makes it easier to run the unit tests
export PYTHONPATH=$(pwd)
