#!/bin/bash
export LANG=en_US.utf8
export LC_ALL=en_US.utf8

export DOCKER_BUILDKIT=1
export COMPOSE_DOCKER_CLI_BUILD=1
export BUILDKIT_INLINE_CACHE=1

# Load secrets tokens (gitlab, jenkins) used to start the backend
if [[ -r $HOME/.tokens ]]; then
  source $HOME/.tokens
fi

# Enable building with SSH agent forwarding
export DOCKER_BUILDKIT=1

# Makes it easier to run the unit tests
export PYTHONPATH=$(pwd)


# Provides npm and node to build/test the web application
export PATH=/home/arthurf/opt/node/node-v16.13.1-linux-x64/bin:$PATH
# We assume `npm config set strict-ssl false`
export NODE_TLS_REJECT_UNAUTHORIZED=0
export REACT_APP_QABOARD_DOCS_ROOT="/"



# AFAIK we don't need a compiler in this project, but it can't hurt...
export PATH=/usr/local/gcc/7.2.0/bin:/usr/local/gdb/8.3/bin:$PATH
export LD_LIBRARY_PATH=/usr/local/gcc/7.2.0/lib64:$LD_LIBRARY_PATH
export CC=gcc
export CXX=g++

# AFAIK there is is nothing needed there except convenience utilities
export PATH=/home/arthurf/opt/bin:$PATH
export LD_LIBRARY_PATH=/home/arthurf/opt/lib64:/home/arthurf/opt/lib:$LD_LIBRARY_PATH

# AFAIK we don't need python in this projects, but it can't hurt to get python3.7
export PATH=/home/ispq/miniconda3/bin:$PATH

# Proxy configuration
export http_proxy=http://dlp2-wcg01:8080
export https_proxy=$http_proxy
export HTTP_PROXY=$http_proxy
export HTTPS_PROXY=$http_proxy
export ftp_proxy=$http_proxy
export no_proxy=localhost,gitlab-srv,gitlab-srv.transchip.com,qa
export NO_PROXY=$no_proxy
