#!/bin/bash
export DOCKER_BUILDKIT=1
export COMPOSE_DOCKER_CLI_BUILD=1
export BUILDKIT_INLINE_CACHE=1

# Makes it easier to run the unit tests
export PYTHONPATH=$(pwd)

# We assume `npm config set strict-ssl false`
export NODE_TLS_REJECT_UNAUTHORIZED=0
export REACT_APP_QABOARD_DOCS_ROOT="/"
