body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.42857143;
  color: rgba(0,0,0,0.85);
}

a {
    color: #1b69b6;
    transition: background-color 100ms linear, color 100ms linear, border 100ms linear;
    text-decoration: none;
    background-color: transparent;
}

span.pt-popover-wrapper {
  vertical-align: baseline !important;
}
