  <div class="row" style="heigh:100px">
    <div class="one-third column">
      <div id="boxes-{{commit.gitcommit.hexsha}}-translation_aape_when_good"></div>
    </div>
    <div class="one-third column">
      <div id="boxes-{{commit.gitcommit.hexsha}}-rotation_mean_when_good"></div>
    </div>
    <div class="one-third column">
      <div id="boxes-{{commit.gitcommit.hexsha}}-frac_tracking_state_good"></div>
    </div>
  </div>

  <div class="row" style="heigh:100px">
    <div class="one-third column">
      <div id="boxes-{{commit.gitcommit.hexsha}}-translation_aape"></div>
    </div>
    <div class="one-third column">
      <div id="boxes-{{commit.gitcommit.hexsha}}-rotation_mean"></div>
    </div>
    <div class="one-third column">
     <div id="boxes-{{commit.gitcommit.hexsha}}-translation_drift_pc"></div>
    </div>
  </div>


<script>
  var color = 'rgba(255, 157, 0, 1)';
  var color_ref = 'rgba(55, 126, 184, 1)';
  var colors = [color, color_ref];

  var color_a = 'rgba(255, 157, 0, .4)';
  var color_ref_a = 'rgba(55, 126, 184, .4)';
  var colors_a = [color_a, color_ref_a];

  var xdata = ['new (offline)', 'reference (offline)'];
  layout = {
      bargap: 0., 
      bargroupgap: 0., 
      barmode: "overlay",
      yaxis: {
          type:'log',
          autorange: true,

          color: "rgba(244,255,255,0.8)",
          tickcolor: "rgba(244,255,255,0.8)",
          autotick: false,
          dtick:0.69897000433,
          exponentformat:'SI',

          showgrid: false,
          zeroline: false,
          gridcolor: 'rgb(255, 255, 255)',
          gridwidth: 1,
      },
      xaxis: {color: "rgba(244,255,255,0.8)", fixedrange: true},
      showlegend: false,
      margin: {
          l: 40,
          r: 30,
          b: 80,
          t: 100
      },
      height: 400,
      width: 300,
      autosize: false,
      plot_bgcolor: 'rgba(0,0,0,0)',
      paper_bgcolor: 'rgba(0,0,0,0)',
  };

  {% macro build_histogram(metric, label, scale=1) %}
    var ydata = [
      {{ commit.metrics(metric, outputs.values())     | tojson }}.map(e=>{{scale}}*e),
      {{ commit_ref.metrics(metric,outputs_ref.values()) | tojson }}.map(e=>{{scale}}*e),
    ];
    var data = [];
    for ( var i = 0; i < xdata.length; i ++ ) {
      var result = {
        type: 'box',
        y: ydata[i],
        name: xdata[i],
        boxpoints: 'all',
        jitter: 0.5,
        whiskerwidth: 0.3,
        fillcolor: colors_a[i],
        marker: {
          size: 8,
          color: colors[i],
        },
        line: {
          width: 2,
          color: colors[i],
        }
      };
      data.push(result);
    }
    layout.xaxis.title = "{{label}}";
    Plotly.newPlot('boxes-{{commit.gitcommit.hexsha}}-{{metric}}', data, layout, {displayModeBar: false});
  {% endmacro %}

  {{build_histogram('translation_aape', 'AAPE [cm]', scale=100)}}
  {{build_histogram('rotation_mean', 'Avg Rotation error [°]')}}
  {{build_histogram('translation_drift_pc', 'Final relative drift [%]', scale=100)}}

  {{build_histogram('translation_aape_when_good', 'AAPE when GOOD [cm]', scale=100)}}
  {{build_histogram('rotation_mean_when_good', 'Avg Rotation error when GOOD [°]')}}
  {{build_histogram('frac_tracking_state_good', 'GOOD tracking [%]', scale=100)}}

</script>