{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link href="/static/nodes_modules/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
<script src="/static/nodes_modules/jsoneditor/dist/jsoneditor.min.js"></script>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
</style>

<div class="container">
  <div class="row">

	<h1>
    <strong><a href="/branch/{{ci_commit.branch()}}">{{ci_commit.branch()}}:</a></strong>
    <a href='http://gitlab-srv/dvs/psp_swip/commits/{{ci_commit.gitcommit.hexsha}}'>{{ci_commit.gitcommit.hexsha[:8]}}</a>
  </h1>

    <p>{{ci_commit.gitcommit.authored_datetime.strftime('%d %B at %H:%M')}} by {{ci_commit.gitcommit.author.name}}.</p>
    <p><pre>Message: {{ci_commit.gitcommit.message.replace('\n', ' ')}}</pre></p>


    <a class="button white-outline" href="{{ci_commit.commit_dir_url / 'params.json'}}">Parameters used</a>
    <a class="button white-outline" href="/s/commits/{{ci_commit.commit_dir.name}}/lsf.log">Logs {%if ci_commit.number_failures()%}for {{ci_commit.number_failures()}} failures{%endif%}</a>

    <h2>Starting parameters</h2>
    <div id="editor-start" style="width: 400px; height: 400px;"></div>

    <h2>Best parameters</h2>
    <h2>Tuning experiment</h2>
    <div id="editor-tuning" style="width: 400px; height: 400px;"></div>
    <h2>Report</h2>

  </div>
</div>


<script>
// commit parameters
var container_start = document.getElementById("editor-start");
var options_start = {};
var editor_start = new JSONEditor(container_start, options_start);
var run_parameters = {{ci_commit.run_parameters()|tojson}};
editor_start.set(run_parameters);

// tuning
var container_tuning = document.getElementById("editor-tuning");
var options_tuning = {};
var editor_tuning = new JSONEditor(container_tuning, options_tuning);


editor_tuning.set({});


        var json = editor.get();
</script>
{% endblock %}