#!/bin/bash

# npm/node
export PATH=/home/arthurf/opt/node/node-v22.14.0-linux-x64/bin:$PATH
# We assume the user ran `npm config set strict-ssl false`
export NODE_TLS_REJECT_UNAUTHORIZED=0

# convenience utilities
export PATH=/home/arthurf/opt/bin:$PATH
export LD_LIBRARY_PATH=/home/arthurf/opt/lib64:/home/arthurf/opt/lib:$LD_LIBRARY_PATH
export PATH=/home/ispq/miniconda3/envs/py311/bin:$PATH

# Proxy configuration
export http_proxy=http://webproxy:8080
export https_proxy=$http_proxy
export HTTP_PROXY=$http_proxy
export HTTPS_PROXY=$http_proxy
export ftp_proxy=$http_proxy
export no_proxy=localhost,gitlab-srv,gitlab-srv.transchip.com,qa
export NO_PROXY=$no_proxy
