<div class="container">
<h2 id="extra-recordings">Run on a new batch of recordings</h2>
<form action='/batch/{{commit.gitcommit.hexsha}}/' method="post">
  <div class="row">
    <div class="six columns">
      <label for="batch">Batch name</label>
      <input class="u-full-width" placeholder="small" name="batch" id="batch" type="text">
    </div>
  </div>
  <label for="batches">Update the available batches</label>
  <textarea style="height:400px" class="u-full-width" placeholder="Some yaml..." name="batches" id="batches">{{batches}}</textarea>
  <label>
    <input name="overwrite" id="overwrite" type="checkbox">
    <span class="label-body">Overwrite previous runs</span>
  </label>
  <input class="button-primary" value="Submit" type="submit">
</form>
</div>

