  <div class="row" style="heigh:100px">
    <div class="one-half column">
     <div id="histograms-{{commit.gitcommit.hexsha}}-rmse"></div>
    </div>
    <div class="one-half column">
      <div id="histograms-{{commit.gitcommit.hexsha}}-aape"></div>
    </div>
  </div>

  <div class="row" style="heigh:100px">
    <div class="one-third column">
      <div id="boxes-{{commit.gitcommit.hexsha}}-aape"></div>
    </div>
    <div class="one-third column">
     <div id="boxes-{{commit.gitcommit.hexsha}}-rmse"></div>
    </div>
    <div class="one-third column">
     <div id="boxes-{{commit.gitcommit.hexsha}}-drift"></div>
    </div>
  </div>


<script>
  var color = 'rgba(255, 157, 0, 1)';
  var color_ref = 'rgba(55, 126, 184, 1)';
  var colors = [color, color_ref];
  var color_a = 'rgba(255, 157, 0, .4)';
  var color_ref_a = 'rgba(55, 126, 184, .4)';
  var colors_a = [color_a, color_ref_a];

  var xdata = ['new (offline)', 'reference (offline)'];
  var yData_rmse = [
    {{ commit.rmses()     | tojson }}.map(e=>100*e),
    {{ commit_ref.rmses() | tojson }}.map(e=>100*e),
  ];
  var yData_aape = [
    {{ commit.aapes()     | tojson }}.map(e=>100*e),
    {{ commit_ref.aapes() | tojson }}.map(e=>100*e),
  ];
  var yData_drift = [
    {{ commit.final_drifts_pc()     | tojson }}.map(e=>100*e),
    {{ commit_ref.final_drifts_pc() | tojson }}.map(e=>100*e),
  ];
  var data_rmse = [];
  var data_aape = [];
  var data_drift = [];

  for ( var i = 0; i < xdata.length; i ++ ) {
    var result = {
      type: 'box',
      y: yData_rmse[i],
      name: xdata[i],
      boxpoints: 'all',
      jitter: 0.5,
      whiskerwidth: 0.3,
      fillcolor: colors_a[i],
      marker: {
        size: 8,
        color: colors[i],
      },
      line: {
        width: 2,
        color: colors[i],
      }
    };
    data_rmse.push(result);
    var result = {
      type: 'box',
      y: yData_aape[i],
      name: xdata[i],
      boxpoints: 'all',
      jitter: 0.5,
      whiskerwidth: 0.3,
      fillcolor: colors_a[i],
      marker: {
        size: 8,
        color: colors[i],
      },
      line: {
        width: 2,
        color: colors[i],
      }
    };
    data_aape.push(result);
    var result = {
      type: 'box',
      y: yData_drift[i],
      name: xdata[i],
      boxpoints: 'all',
      jitter: 0.5,
      whiskerwidth: 0.3,
      fillcolor: colors_a[i],
      marker: {
        size: 8,
        color: colors[i],
      },
      line: {
        width: 2,
        color: colors[i],
      }
    };
    data_drift.push(result);
  };
  layout = {
      bargap: 0., 
      bargroupgap: 0., 
      barmode: "overlay",
      yaxis: {
          type:'log',
          autorange: true,

          color: "rgba(244,255,255,0.8)",
          tickcolor: "rgba(244,255,255,0.8)",
          autotick: false,
          dtick:0.69897000433,
          exponentformat:'SI',

          showgrid: false,
          zeroline: false,
          gridcolor: 'rgb(255, 255, 255)',
          gridwidth: 1,
      },
      xaxis: {title: "RMSE [cm]", color: "rgba(244,255,255,0.8)", fixedrange: true},
      showlegend: false,
      margin: {
          l: 40,
          r: 30,
          b: 80,
          t: 100
      },
      height: 400,
      width: 300,
      autosize: false,
      plot_bgcolor: 'rgba(0,0,0,0)',
      paper_bgcolor: 'rgba(0,0,0,0)',
  };
  Plotly.newPlot("boxes-{{commit.gitcommit.hexsha}}-rmse", data_rmse, layout, {displayModeBar: false});
  layout.xaxis.title = 'AAPE [cm]';
  Plotly.newPlot('boxes-{{commit.gitcommit.hexsha}}-aape', data_aape, layout, {displayModeBar: false});
  layout.xaxis.title = 'Drift [%]';
  Plotly.newPlot('boxes-{{commit.gitcommit.hexsha}}-drift', data_drift, layout, {displayModeBar: false});

</script>