  <div class="row" style="heigh:100px">
    <div class="one-half column">
     <div id="histograms-{{commit.gitcommit.hexsha}}-rmse"></div>
    </div>
    <div class="one-half column">
      <div id="histograms-{{commit.gitcommit.hexsha}}-aape"></div>
    </div>
  </div>

  <div class="row" style="heigh:100px">
    <div class="one-half column">
     <div id="boxes-{{commit.gitcommit.hexsha}}-rmse"></div>
    </div>
    <div class="one-half column">
      <div id="boxes-{{commit.gitcommit.hexsha}}-aape"></div>
    </div>
  </div>



<script>
  // {% if commit_ref %}
  // var color = 'rgba(255, 157, 0, 0.5)';
  // {% else %}
  // var color = 'rgba(255, 157, 0, 1)';
  // {% endif %}

  // var trace_rmse = {
  //   x: {{ commit.rmses() | tojson }}.map(e=>100*e),
  //   name: 'new (offline)',
  //   marker: {
  //     color, 
  //      line: {
  //       color, 
  //       width: 1
  //     }
  //   },
  //   opacity: 1, 
  //   type: "histogram", 
  // };
  // var trace_aape = {
  //   x: {{ commit.aapes() | tojson }}.map(e=>100*e),
  //   name: 'new (offline)',
  //   marker: {
  //     color,
  //      line: {
  //       color, 
  //       width: 1
  //     }
  //   },
  //   opacity: 1,
  //   type: "histogram", 
  // };

  // {% if commit_ref %}
  // var color_ref = 'rgba(55, 126, 184, 1)';
  // var trace_rmse_ref = {
  //   x: {{ commit_ref.rmses() | tojson }}.map(e=>100*e),
  //   name: 'reference',
  //   marker: {
  //     color: color_ref, 
  //      line: {
  //       color:  color_ref, 
  //       width: 1
  //     }
  //   },
  //   opacity: 1, 
  //   type: "histogram", 
  // };
  // var trace_aape_ref = {
  //   x: {{ commit_ref.aapes() | tojson }}.map(e=>100*e),
  //   name: 'reference',
  //   marker: {
  //     color: color_ref,
  //      line: {
  //       color:  color_ref, 
  //       width: 1
  //     }
  //   },
  //   opacity: 1,
  //   type: "histogram", 
  // };
  //   traces_rmse = [trace_rmse_ref, trace_rmse];
  //   traces_aape = [trace_aape_ref, trace_aape];
  // {% else %}
  //   traces_rmse = [trace_rmse];
  //   traces_aape = [trace_aape];
  // {% endif %}

  // var layout = {
  //   bargap: 0., 
  //   bargroupgap: 0., 
  //   barmode: "overlay",
  //   yaxis: {title: "#", color: "rgba(244,255,255,0.8)", showgrid: false, fixedrange: true},
  //   xaxis: {title: "RMSE [cm]", color: "rgba(244,255,255,0.8)", fixedrange: true}, 
  //   plot_bgcolor: 'rgba(0,0,0,0)',
  //   paper_bgcolor: 'rgba(0,0,0,0)',
  //   height: 250,
  //   width: 450,
  //   autosize: false,
  //   // margin: {t: 0, b:0},
  //   // {%if width%} width:{{width}},{%endif%}
  // };

  // Plotly.newPlot('histograms-{{commit.gitcommit.hexsha}}-rmse', traces_rmse, layout, {displayModeBar: false});
  // layout.xaxis.title = 'AAPE [cm]';
  // Plotly.newPlot('histograms-{{commit.gitcommit.hexsha}}-aape', traces_aape, layout, {displayModeBar: false});




  var color = 'rgba(255, 157, 0, 1)';
  var color_ref = 'rgba(55, 126, 184, 1)';
  var colors = [color, color_ref];

  var xdata = ['new (offline)', 'reference (offline)'];
  var yData_rmse = [
    {{ commit.rmses()     | tojson }}.map(e=>100*e),
    {{ commit_ref.rmses() | tojson }}.map(e=>100*e),
  ];
  var yData_aape = [
    {{ commit.aapes()     | tojson }}.map(e=>100*e),
    {{ commit_ref.aapes() | tojson }}.map(e=>100*e),
  ];
  var data_rmse = [];
  var data_aape = [];

  for ( var i = 0; i < xdata.length; i ++ ) {
    var result = {
      type: 'box',
      y: yData_rmse[i],
      name: xdata[i],
      boxpoints: 'all',
      jitter: 0.5,
      whiskerwidth: 0.2,
      fillcolor: 'cls',
      marker: {
        size: 5
      },
      line: {
        width: 1
      }
    };
    data_rmse.push(result);
    var result = {
      type: 'box',
      y: yData_aape[i],
      name: xdata[i],
      boxpoints: 'all',
      jitter: 0.5,
      whiskerwidth: 0.2,
      fillcolor: 'cls',
      marker: {
        size: 5
      },
      line: {
        width: 1
      }
    };
    data_aape.push(result);
  };
  layout = {
      bargap: 0., 
      bargroupgap: 0., 
      barmode: "overlay",
      yaxis: {
          type:'log',
          autorange: true,

          color: "rgba(244,255,255,0.8)",
          tickcolor: "rgba(244,255,255,0.8)",
          autotick: false,
          dtick:0.69897000433,
          exponentformat:'SI',

          showgrid: false,
          zeroline: false,
          gridcolor: 'rgb(255, 255, 255)',
          gridwidth: 1,
      },
      xaxis: {title: "RMSE [cm]", color: "rgba(244,255,255,0.8)", fixedrange: true},
      showlegend: false,
      margin: {
          l: 40,
          r: 30,
          b: 80,
          t: 100
      },
      height: 400,
      width: 600,
      autosize: false,
      plot_bgcolor: 'rgba(0,0,0,0)',
      paper_bgcolor: 'rgba(0,0,0,0)',
  };
  Plotly.newPlot("boxes-{{commit.gitcommit.hexsha}}-rmse", data_rmse, layout, {displayModeBar: false});
  layout.xaxis.title = 'AAPE [cm]';
  Plotly.newPlot('boxes-{{commit.gitcommit.hexsha}}-aape', data_aape, layout, {displayModeBar: false});


</script>