<div class="container">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Recording</th>
        <th>RMSE</th>
        <th>AAPE</th>
        <th>Final Drift %</th>

        <th>Previous RMSE</th>
        <th>Previous AAPE</th>
        <th>Previous Final Drift %</th>

        <th>delta RMSE</th>
        <th>delta AAPE</th>
        <th>delta Final Drift %</th>        
      </tr>
    </thead>
    <tbody>
    {% for recording, output in outputs.items() %}
    {% with m = output.metrics %}
      <tr>
        <td>{{recording}}</td>
        {%if 'translation_rmse' in m%}<td>{{'{0:.2}cm'.format(100*m.translation_rmse)}}</td>{%else%}<td/>{%endif%}
        {%if 'aape' in m%}<td>{{'{0:.2}cm'.format(100*m.aape)}}</td>{%else%}<td/>{%endif%}
        {%if 'final_drift_pc' in m%}<td>{{'{0:.2}'.format(100*m.final_drift_pc)}}</td>{%else%}<td/>{%endif%}
  
       {%if recording in outputs_ref %}
       {% with m_ref = outputs_ref[recording].metrics %}
        {%if 'translation_rmse' in m%}<td>{{'{0:.2}cm'.format(100*m.translation_rmse)}}</td>{%else%}<td/>{%endif%}
        {%if 'aape' in m%}<td>{{'{0:.2}cm'.format(100*m.aape)}}</td>{%else%}<td/>{%endif%}
        {%if 'final_drift_pc' in m%}<td>{{'{0:.2}'.format(100*m.final_drift_pc)}}</td>{%else%}<td/>{%endif%}

        {%if 'translation_rmse' in m and 'translation_rmse' in m_ref%}<td>{{'{0:.2}cm'.format(100*(m.translation_rmse-m_ref.translation_rmse))}}</td>{%else%}<td/>{%endif%}
        {%if 'aape' in m and 'aape' in m_ref%}<td>{{'{0:.2}cm'.format(100*(m.aape-m_ref.aape))}}</td>{%else%}<td/>{%endif%}
        {%if 'final_drift_pc' in m and 'final_drift_pc' in m_ref%}<td>{{'{0:.2}'.format(100*(m.final_drift_pc-m_ref.final_drift_pc))}}</td>{%else%}<td/>{%endif%}
       {% endwith %}
       {%else%}<td></td><td></td><td></td> <td></td><td></td><td></td>
       {%endif%}
      </tr>
    {% endwith %}
    {%endfor%}
    </tbody>
  </table>
</div>