<script>

var get_tsv = (tsv_url, callback) => {
  // if no url is given, just callback(null, null)
  var data = d3.text(tsv_url, (error, text_string) => {
    if (error) {
        callback(null, null); // OK but no data...
    }
    callback(null, parse_poses(text_string));
  })
}

var parse_poses = (text_string) => {
  let headers = ["a","b","c","x", "y", "z", "t", "confidence", "good\n"].join("\t");
  let data = Plotly.d3.tsv.parse(headers + text_string);
  console.log(data)
  let x=[], y=[], z=[];
  let a=[], b=[], c=[];
  let t=[], confidence=[], good=[];
  // we ignore the 1st point, often far away in time...
  for (let i=1; i<data.length; i++) {
    let row = data[i];
    a.push(row['a']);
    b.push(row['b']);
    c.push(row['c']);
    x.push(row['x']);
    y.push(row['y']);
    z.push(row['z']);
    t.push(row['t']);
    confidence.push(row['confidence']);
    good.push(row['good']);
  };
  return {x, y, z, a, b, c, t, confidence, good};
}

var make_traces = function(poses, label) {
  let mode = 'lines+markers';
  let line_width = 1;
  let marker_size = 5;
  let x_label = `X (${label})`;
  let y_label = `Y (${label})`;
  let z_label = `Z (${label})`;
  console.log(poses.t)
  return [
    {
      x: poses.t, y: poses.x,
      line: { color: '#66c2a5', width: line_width },
      marker: { color: '#66c2a5', size: marker_size },
      mode,
      name: x_label, legendgroup:"X"
    },
    {
      x: poses.t, y: poses.y,
      line: { color: '#fc8d62', width: line_width },
      marker: { color: '#fc8d62', size: marker_size },
      mode,
      name: y_label, legendgroup:"Y"
    },
    {
      x: poses.t, y: poses.z,
      line: { color: '#8da0cb', width: line_width },
      marker: { color: '#8da0cb', size: marker_size },
      mode,
      name: z_label, legendgroup:"Z"
    },
    {
      x: poses.t, y: poses.a,
      line: { color: '#66c2a5', width: line_width },
      marker: { color: '#66c2a5', size: marker_size },
      mode,
      name: x_label, legendgroup:"X",
      yaxis: 'y2',
      showlegend: false
    },
    {
      x: poses.t, y: poses.b,
      line: { color: '#fc8d62', width: line_width },
      marker: { color: '#fc8d62', size: marker_size },
      mode,
      name: y_label, legendgroup:"Y",
      yaxis: 'y2',
      showlegend: false
    },
    {
      x: poses.t, y: poses.c,
      line: { color: '#8da0cb', width: line_width },
      marker: { color: '#8da0cb', size: marker_size },
      mode,
      name: z_label, legendgroup:"Z",
      yaxis: 'y2',
      showlegend: false
    },
    {
      x: poses.t, y: poses.confidence,
      line: { color: '#cccccc', width: line_width },
      marker: { color: '#cccccc', size: marker_size },
      mode,
      name: 'confidence', yaxis: 'y3',
    }
  ]
}

var render_poses = function(id, poses_offline_url, poses_s8_url, poses_gt_url) {
    var plot_img = document.getElementById('plot-'+id)
    plot_img.style.filter = 'blur(3px)';

    d3.queue()
    .defer(get_tsv, poses_offline_url)
    .defer(get_tsv, poses_s8_url)
    .defer(get_tsv, poses_gt_url)
    .awaitAll(function(error, poses) {
        if (error) {
            console.error(error);
        }
        else {
          traces = []
          if (poses[0]) {
            traces = [...traces, ...make_traces(poses[0], 'offline')]
          }
          if (poses[1]) {
            traces = [...traces, ...make_traces(poses[1], 'S8')]
          }
          if (poses[2]) {
            traces = [...traces, ...make_traces(poses[2], 'GT')]
          }
          let layout = {
            type: 'scatter', // try sc
            // height:600,
            // width:300,
            // autosize: false,
            margin: { l: 60, r: 0, b: 50, t: 50, pad: 10 },
            yaxis:  {domain: [0.0, 0.4], title:'Translation [m]'},
            yaxis2: {domain: [0.4, 0.8], title: 'Rotation [rad]'},
            yaxis3: {domain: [0.8, 1.0], title: '%'},
            legend: {
              x:0,
              y:1,
              bgcolor: 'rgba(255,255,255,0)',
              traceorder:'grouped+reversed ',
              // orientation: "h",
              // yanchor: "bottom", 
              tracegroupgap: 0
            }
          }
          plot_img = document.getElementById('plot-'+id)
          if (plot_img) plot_img.remove();
          Plotly.newPlot('plotly-'+id, traces, layout);
        }
    });
}
</script>